<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Tenant Dashboard</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">

  <!--  <script>
        !function(o,p,s,e,c){
            var i,a,h,u=[],d=[];function t(){var t="You must provide a supported major version.";try{if(!c)throw new Error(t);var e,n="https://cdn.smooch.io/",r="smooch";if((e="string"==typeof this.response?JSON.parse(this.response):this.response).url){var o=p.getElementsByTagName("script")[0],s=p.createElement("script");s.async=!0;var i=c.match(/([0-9]+).?([0-9]+)?.?([0-9]+)?/),a=i&&i[1];if(i&&i[3])s.src=n+r+"."+c+".min.js";else{if(!(4<=a&&e["v"+a]))throw new Error(t);s.src=e["v"+a]}o.parentNode.insertBefore(s,o)}}catch(e){e.message===t&&console.error(e)}}o[s]={init:function(){i=arguments;var t={then:function(e){return d.push({type:"t",next:e}),t},catch:function(e){return d.push({type:"c",next:e}),t}};return t},on:function(){u.push(arguments)},render:function(){a=arguments},destroy:function(){h=arguments}},o.__onWebMessengerHostReady__=function(e){if(delete o.__onWebMessengerHostReady__,o[s]=e,i)for(var t=e.init.apply(e,i),n=0;n<d.length;n++){var r=d[n];t="t"===r.type?t.then(r.next):t.catch(r.next)}a&&e.render.apply(e,a),h&&e.destroy.apply(e,h);for(n=0;n<u.length;n++)e.on.apply(e,u[n])};var n=new XMLHttpRequest;n.addEventListener("load",t),n.open("GET","https://"+e+".webloader.smooch.io/",!0),n.responseType="json",n.send()
        }(window,document,"Smooch","60355f8cd79177000c6fc680","5");
    </script>-->

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Admin <!--<sup>2</sup>--></div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" href="/main">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Main</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/billing">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Billing</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Logout</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Interface
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Components</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Custom Components:</h6>
                        <a class="collapse-item" href="buttons.html">Buttons</a>
                        <a class="collapse-item" href="cards.html">Cards</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
                    aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>Utilities</span>
                </a>
                <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Custom Utilities:</h6>
                        <a class="collapse-item" href="utilities-color.html">Colors</a>
                        <a class="collapse-item" href="utilities-border.html">Borders</a>
                        <a class="collapse-item" href="utilities-animation.html">Animations</a>
                        <a class="collapse-item" href="utilities-other.html">Other</a>
                    </div>
                </div>
            </li>


            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="mt-3 h3 mb-4 text-gray-800">Main Page</h1>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
           <!-- <div> this is embedded from zoho
                <script>var I18NObject = new Object(); function I18N() { } I18N.initialize = function () { I18NObject['js.validator.vulnerable.msg'] = '\"$0\" field has vulnerable content.'; I18NObject['js.validator.empty.msg'] = '\"$0\" cannot be empty.'; I18NObject['js.validator.length.msg'] = '\"$0\" exceeds the limit. Please keep the length within $1.'; I18NObject['js.validator.invalid.msg'] = '\"$0\" has invalid content. Please change to the format shown below.'; I18NObject['js.validator.number.msg'] = '\"$0\" value must be numeric.'; I18NObject['js.validator.float.msg'] = '\"$0\" value must be numeric.'; I18NObject['js.validator.double.msg'] = '\"$0\" value must be numeric.'; I18NObject['js.validator.email.msg'] = 'Email id format should be like \"support@zohocorp.com\"'; I18NObject['js.validator.phone.msg'] = 'Only numbers(0-9), \"+\" and \"-\" are allowed.'; I18NObject['js.validator.length.decimal.errmsg'] = 'Decimal places should not be more than $0.<br> Please check and correct the value of $1.'; I18NObject['js.validator.date.errmsg'] = 'Date value \"$0\" mentioned in $1 is invalid. Please follow the format \"$2\" or pick it from the calendar.'; I18NObject['js.validator.website.msg'] = 'Please Enter a valid URL.'; I18NObject['js.validator.zip.msg'] = 'Only numbers(0-9), \"-\" are allowed.'; } </script>
                <script type='text/javascript' src='https://js.zohostatic.eu/contactmanager/v149/js/webtocontactscript.js'></script>
                <div id='WebToEntityForm'
                    style='border:1px solid #e1e1e1;background-color:#fff;margin:0 auto;width:600px;font-size:14px;text-align:left;'
                    align='center'>
                    <META HTTP-EQUIV='content-type' CONTENT='text/html;charset = UTF-8'>
                    <form action='https://cm.zohopublic.eu/WebToContactForm' method='POST'
                        onSubmit='javascript:document.charset=\"UTF-8\";return getFormValues(this);' accept-charset='UTF-8'
                        target='_parent'> <input type='hidden' exclude='true' name='xnQsjsdp'
                            value='feac6c1e90b1f5fa2fce2101f98fe0052ae10d7587e88468c9c623ba17a5dfe1' /> <input type='hidden'
                            exclude='true' name='xmIwtLD'
                            value='42a870862482493dddc8508eeeddc21de571de24f1ec4533871b1c69a42ba9cf' /> <input type='hidden'
                            exclude='true' name='actionType' value='Q29udGFjdHM=' /> <input type='hidden' exclude='true'
                            name='returnURL' value='http://35.176.162.69:3000/' />
                        <div style='border-bottom:1px solid #e1e1e1;text-align:center;padding:20px 0px;background-color:#f0cc55;'><b
                                style='font-size:23px;color:#fff;'>Conversion Template 1 </b></div>
                        <div id='webfield_sortable' style='padding:10px;'>
                            <table cellspacing='' cellpadding='10' width='100%' style='border:none;'>
                                <tr>
                                    <td width='30%' nowrap=''
                                        style='padding:10px 5px;vertical-align:top;border:none;color:#b94a48;'>Full Name</td>
                                    <td width='70%' style='padding:10px 5px;vertical-align:top;border:none;'>
                                        <div style='width:300px;'><input
                                                style='font-size:13px;border:1px solid #CCCCCC;border-radius:2px;color:#555;background-color:#fff;padding:5px 8px;width:100%;'
                                                type='text' onkeyup='closeMsg(this)' length='150' maxlength='150'
                                                displayName='Full Name' name='name' isempty='false' validate=''
                                                id='name' /><br><span id='nameMsg'
                                                style='font-size: 11px; color: red; float: left; padding-top: 5px;'> </span></div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div style='border-top:1px solid #e1e1e1;text-align:center;padding:20px 0px;'> <button
                                style='font-size:14px;border:1px solid #ddd;border-radius:3px;text-align: center;cursor: pointer; padding:6px 10px;margin-right:10px;background-color:#f0cc55;color:#fff;'
                                type='submit'>Save</button> <button
                                style='font-size:14px;border:1px solid #ddd;border-radius:3px;background-color:#f5f5f5;text-align: center;cursor: pointer; color:#333; padding:6px 10px;'
                                type='reset'>Reset</button> </div>
                    </form>
                </div>
            </div> -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy;2020</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

   <!-- <script>
Smooch.init({ integrationId: '60355f8cd79177000c6fc680' });
</script>-->
</body>

</html>