<!DOCTYPE html>
<html>
  <head>
    <title>Login Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Login Page</h1>
    <form action="/login" method="POST">
      <input required type="email" name="email" placeholder="Your email">
      <input required type="password" name="password" placeholder="Your password">
      <input type="submit" value="Login">
    </form>
  </body>
</html>
